<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="py-5 text-center">
      <h2>Klasa i zalety postaci</h2>
    </div>
    <%= form_with(model: @character_wizard, remote: true) do |form| %>

      <div id="kind_and_benefits_div">
        <h5><%= form.label "Klasa postaci:", class: 'form-label' %></h5>
        <div class="row g-3">
          <div class="col-sm-6">
            <%= form.select(:kind, options_from_collection_for_select(@kind_gender, :name, :name),{ prompt: "Wybierz klasę"}, { :class => "form-select", :onchange => "kind_and_benefits(this.value);" }) %>
          </div>
          <script type="text/javascript">
              function kind_and_benefits(kind_name) {
                  console.log("dziala")
                  jQuery.ajax({
                      url: "/kind_and_benefits",
                      type: "GET",
                      data: {"kind_name": kind_name},
                      dataType: "html",
                      success: function (data) {
                          jQuery("#benefitsDiv").html(data);
                      }
                  });

              }
          </script>
          <br/>
          <div id="benefitsDiv">
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
          <%= form.submit "Dalej", class:'btn btn-purple'%>
        </div>

    <%end %>

    </div>

  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; Sonia Leszkiewicz 2022</p>
</footer>
